body {
    background-image: url(hatter.jpg);
}

.card-horizontal {
    display: grid;
    grid-template-columns: 1fr 9fr;
    column-gap: 1rem;
}

.card-horizontal h6 {
    font-size: 1.5rem;
}

.card-horizontal .card-desc-obl {
    font-size: 85%;
    font-style: oblique;
    font-weight: 400;
}

.card-horizontal img {
    max-width: 100%;
}